body, html {
  height: 100%;
  margin: 0;
  padding: 0; }
  #GFG {
    text-decoration: none;
}
#page-wrapper {
  height: 100%; }
  #page-wrapper #nav {
    height: 45px;
    border-bottom: 1px solid #110f0f;
    box-shadow: #212529 0px 3px 2px;
    padding: 3px; }
  
  #page-wrapper #sidebar-drawer-wrapper {
    position: absolute;
    top: 55px;
    width: 200px;
    background: #212529;
    z-index: 10000;
    overflow-x: hidden;
    height: 100%;
    transition: width 0.5s ease-in-out; }
    #page-wrapper #sidebar-drawer-wrapper ul {
      padding: 0;
      margin: 0;
      list-style: none; }
      #page-wrapper #sidebar-drawer-wrapper ul li {
        font-size: 25px;
        padding: 2px;
        color: white;
        height: 48px;
        width: 230px; 
        a {
          padding-left: 12px;
          padding-top: 5px;
          color: #ffffff;
          font-family: "Times New Roman", Times, serif;
          font-size: 25px;
          text-decoration: none;
        }
      }

  #page-wrapper #main-content-wrapper {
    padding-left: 220px;
    padding-top: 12px;
    width: 100%;
    transition: padding 0.3s ease-in;
    transition-delay: 0.2s; }

  #page-wrapper.menuActive #main-content-wrapper {
    padding-left: 250px;
    transition: padding 0.4s ease-out;
    transition-delay: 0.1s; }