<div class="container">
    <h3>Teacher Dashboard</h3>
    <br>
    <div>
      <button style="margin-right: 10px;" class="btn btn-primary btn-lg" (click)="onTabClick(0)">Add Courses</button>
      <button style="margin-right: 10px;" class="btn btn-success btn-lg" (click)="onTabClick(1)">Add Questions</button>
      <button style="margin-right: 10px;" class="btn btn-success btn-lg" (click)="onTabClick(2)">Add Post</button>
      <button style="margin-right: 10px;" class="btn btn-success btn-lg" (click)="onTabClick(3)">Add Subject</button>
      <button class="btn btn-success btn-lg" (click)="onTabClick(4)">Add Content</button>
  
    </div>
    <hr>
    <br>
    <div class="container">
      <app-add-course *ngIf="tabIndex === 0"></app-add-course>
      <app-add-question *ngIf="tabIndex === 1"></app-add-question>
      <app-add-post *ngIf="tabIndex === 2"></app-add-post>
      <app-add-subject *ngIf="tabIndex === 3"></app-add-subject>
      <app-add-content *ngIf="tabIndex === 4"></app-add-content>
    </div>
  </div>
