<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Latest News</h4>
            <hr>
            <ul class="nav nav-pills nav-stacked">

            </ul><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Blog..">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>

        <div class="col-sm-9">
            <h4><small>RECENT QUIZZES</small></h4>
            <hr>
            <div class="row" *ngFor="let course of courses; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveCourse(course, i)">
                <h2>{{ course.name }}</h2>
                <h5><span class="glyphicon glyphicon-time"></span> Updated in {{ course.name }}</h5>
                <br>
                <p>
                    {{ course.name }}
                </p>
                <a class="badge badge-warning" routerLink="/test/{{ course.id }}">
                    Take Exam
                </a>
                <br>
                <hr>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid">
    <p>Footer Text</p>
</footer>