<div id="page-wrapper">
  <div id="sidebar-drawer-wrapper">
    <ul>
      <li><button style="margin-right: 10px;" class="btn btn-dark" (click)="onTabClick(0)">Users</button></li>
      <li><button style="margin-right: 10px;" class="btn btn-dark" (click)="onTabClick(1)">Questions</button></li>
      <li><button style="margin-right: 10px;" class="btn btn-dark" (click)="onTabClick(2)">Courses</button></li>
      <li><button style="margin-right: 10px;" class="btn btn-dark" (click)="onTabClick(3)">Posts</button></li>
      <li><button style="margin-right: 10px;" class="btn btn-dark" (click)="onTabClick(4)">Subject</button></li>
      <li><button class="btn btn-dark" (click)="onTabClick(5)">Content</button></li>

    </ul>
  </div>
  <div id="main-content-wrapper">
    <div class="">
      <app-users *ngIf="tabIndex === 0"></app-users>
      <app-question-list *ngIf="tabIndex === 1"></app-question-list>
      <app-courses-list *ngIf="tabIndex === 2"></app-courses-list>
      <app-posts *ngIf="tabIndex === 3"></app-posts>
      <app-subject-details *ngIf="tabIndex === 4"></app-subject-details>
      <app-contents-list *ngIf="tabIndex === 5"></app-contents-list>
    </div>
  </div>
</div>