<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-4 sidenav">
      <h4>Subject</h4>
      <hr>
      <ul class="nav nav-pills nav-stacked">

      </ul><br>
      <div class="row" *ngFor="let subject of subjects; let i = index" [class.active]="i == currentIndex"
        (click)="setActiveTopic(subject.id, i)">
        <h2>{{ subject.name }}</h2>
        <h5><span class="glyphicon glyphicon-time"></span> Updated in {{ subject.name }}</h5>
        <br>
        <p>
          {{ subject.name }}
        </p>
        <br>
        <hr>
      </div>
    </div>

    <div class="col-sm-7">
      <h4><small>Topics</small></h4>
      <hr>
      <div class="col-md-7">
        <div>
          <div class="row" *ngFor="let content of contents; let i = index" [class.active]="i == currentIndex">
            <h2>{{ content.name }}</h2>
            <h5><span class="glyphicon glyphicon-time"></span> Updated in {{ content.name }}</h5>
            <br>
            <p>
              {{ content.name }}
            </p>
            <br>
            <hr>
          </div>
        </div>

        <!-- <div *ngIf="!currentSubject">
          <br />
          <p>Please click on a Subject...</p>
        </div> -->
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>