<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Latest News</h4>
      <ul class="nav nav-pills nav-stacked">

      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>{{currentPost.name}}</small></h4>
      <hr>
      <div *ngIf="currentPost" class="row">
        <img class="card-img-top" width="300" height="600" src="{{currentPost.cover}}" />
        <h5>Author: {{ currentPost.teacher_id }}</h5>
        <h5><span class="glyphicon glyphicon-time"></span> Updated in {{ currentPost.date }}</h5>
        <br>
        <p>
          {{ currentPost.content }}
        </p>
        <button type="button" class="btn btn-primary btn-sm" style="width: 140px;"
          routerLink="/posts">
          View other posts
        </button>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark card">
  <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; school.com 2021</p>
  </div>
</footer>