<label>Courses </label> &nbsp;&nbsp;&nbsp; <button class="btn btn-sm btn-outline-primary" (click)="open(content) ">Add Post</button>
<br>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Teacher ID</th>
        <th>Post Name</th>
        <th>content</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.teacher_id}}</td>
            <td>{{post.name}}</td>
            <td>{{post.content}}</td>
            <td> <button class="btn btn-sm btn-outline-primary" (click)="open2(content2, post) ">Edit Post</button></td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Post</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="width: 400px; margin: auto;">
            <app-add-post></app-add-post>
        </div>

    </div>
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Post update: {{modalContent2.id}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="width: 400px; margin: auto;">
            <div *ngIf="currentPost" class="edit-form">
                <form>
                  <div class="form-group">
                    <label for="name">Post Name</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      required
                      [(ngModel)]="currentPost.name"
                      name="name"
                    />
                  </div>
            
                  <div class="form-group">
                    <label for="content">Content</label>
                    <input
                      class="form-control"
                      id="content"
                      required
                      [(ngModel)]="currentPost.content"
                      name="content"
                    />
                  </div>
          
                  <!-- <div class="form-group">
                    <label for="cover">Cover</label>
                    <input
                      type="file"
                      class="form-control"
                      id="cover"
                      required
                      [(ngModel)]="post.cover"
                      name="cover"
                    />
                  </div> -->
                  <button type="submit" class="badge badge-success" (click)="updatePost()">
                    Update
                </button>
                </form>

                <p>{{ message }}</p>
            </div>

            <div *ngIf="!currentPost">
                <br />
                <p>Cannot access this Post...</p>
            </div>
        </div>
    </div>
</ng-template>