<label>Students </label> <button class="btn btn-sm btn-outline-primary" (click)="open(content, user) ">Add User</button>
<br>
<table class="table table-striped">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.roles}}</td>
            <td> <button class="btn btn-sm btn-outline-primary" (click)="open2(content2, user) ">Edit User</button></td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add User</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="width: 400px; margin: auto;">
            <h1>Add User</h1>
            <div class="submit-form">
                <div *ngIf="!submitted">
                    <div class="form-group">
                        <label for="name">User Name</label>
                        <input type="text" class="form-control" id="name" required [(ngModel)]="user.name"
                            name="name" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" required [(ngModel)]="user.email" name="email" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" id="password" required [(ngModel)]="user.password" name="password" />
                    </div>

                    <button (click)="saveUser()" class="btn btn-success">Save User</button>
                </div>

                <div *ngIf="submitted">
                    <h4>youser added successfully!</h4>
                    <button class="btn btn-success" (click)="newUser()">Add</button>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>

<ng-template #content2 let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update: {{modalContent2.id}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div style="width: 400px; margin: auto;">
            <div *ngIf="currentUser" class="edit-form">
                <h4>Update USer</h4>
                <form>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="currentUser.name" name="name" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email </label>
                        <input type="text" class="form-control" id="email" [(ngModel)]="currentUser.email"
                            name="email" />
                    </div>

                    <div class="form-group">
                        <label><strong>Role:</strong></label>
                        {{ currentUser.roles}}
                    </div>
                </form>

                <button class="badge badge-primary mr-2" *ngIf="currentUser.roles=='USER'"
                    (click)="updateStatus('MODERATOR')">
                    User
                </button>
                <button class="badge badge-primary mr-2" *ngIf="currentUser.roles=='MODERATOR'"
                    (click)="updateStatus('USER')">
                    Moderator
                </button>

                <!-- <button class="badge badge-danger mr-2" (click)="deleteUser()">
                    Delete
                </button> -->

                <button type="submit" class="badge badge-success" (click)="updateUser()">
                    Update
                </button>
                <p>{{ message }}</p>
            </div>

            <div *ngIf="!currentUser">
                <br />
                <p>Cannot access this Content...</p>
            </div>
        </div>
    </div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="modal.close('Save click')">Save</button>
    </div> -->
</ng-template>